@using MyEvernote.Entities

@model List<Comment>

<div class="media">
    <div class="media-object">
        <span class="glyphicon glyphicon-comment"></span>
    </div>
    <div class="media-body">
        <div>
            <h5 class="mt-0">Media heading</h5>
            <span>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
            <br />
            <small>
                <span class="glyphicon glyphicon-time"></span> 23.11.2011 12:23:22&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-user"></span> erenn
            </small>

        </div>
    </div>
</div>
